body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#container {
    height: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    background-image: url('images/background.jpg');
    background-position: center center;
    background-size: cover;
}

#header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0 20px;
}

#tickethack {
    color: black;
    text-decoration: none;
    font-size: 30px;
}

#cartBooking a {
    width: 10%;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
}

#tagline {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#tagline h1 {
    margin: 0;
    font-size: 30px;
}

#tagline h2 {
    margin: 0;
    font-size: 15px;
}

#search {
    grid-row-start: 4;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#search>div {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    width: 30%;
    max-width: 400px;
    margin: 0 50px;
}

#inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

#inputs input, button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #EFF2F1;
    font-size: 20px;
}

#travel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#travelDivider {
    margin: 0;
    width: 95%;
    border-top: 0.5px solid #77958E;
}

#btnSearch {
    background-color: #459E85;
    color: white;
}

#searchResults {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.searchRow {
    background-color: #EFF2F1;
    width: 90%;
    height: 50px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 10px 0;
    font-size: 20px;
}

.btnBook {
    background-color: #459E85;
    color: white;
    font-size: 12px;
    padding: 0 5px;
    width: min-content;
    height: 35px;
}

#footer {
    grid-row-start: 10;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 2;
}